* {
    font-family: "urbanist";
    margin: 0;
    padding: 0;
    background-color: black;
}

.box {
    display: inline-flex;
    background-color: black;
    flex-direction: row;
    min-width:100%;
    justify-content: center;
}

.container {
    display: block;
    color: floralwhite;
    line-height: 2em;
    text-align: center;
    justify-content: center;
    margin: 2em;
    @media only screen and (min-width: 2080px) {
        font-size: 2.5em;
    }
        
    @media only screen and (max-width: 1080px) {
        font-size: 1em;
        width: 300px;
    }
   
}

.container #banner{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container ul {
    list-style-position: inside;
}

.container table {
    width: 100%;
    text-align: center;
}

a img {
    height: 50px;
    width: 50px;
    }



.container2 {
    display: flex;  
    object-fit: contain;        
}

.container2 img {
    display: flex;
    height: 100vh;
    width: auto;
} 











